.container-fluid-indoor {
  background-image: url(../img/christmas-word.jpg); /*Photo by Ylanite Koppens from Pexels*/
  background-size: cover;
  background-position: center;
  height:700px;
  overflow: hidden;
}
.nav-tabs>li>a {
  color: black;
  font-weight: bold;
  border: solid black 1px;
  margin-top: 50px;
}
.nav-tabs>li.active>a {
  color: black;
  border: solid black 1px;
  background-color: #ffe866; /*lighter shade of gold*/
  margin-top: 50px;
}
.jumbotron {
  background-color: transparent;
  height: 150px;
  margin-bottom: 175px;
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}
.container-fluid-footer {
  /*background-image: url(../img/hero-christmas.jpg);
  background-size: cover;
  background-position: center;*/
  overflow: hidden;
}
.footer {
  height: 100px;
  align-items: center;
}
.fab {
  color: black;
}
.hidden-xs {
  color: black;
}
.copyright {
  font-family: 'La Belle Aurore', cursive;
  color: black;
  padding: 5px;
  height: 30px;
}
