.container-fluid-outdoor {
  background-image: url(../img/ball-blur-bright.jpg);
  background-size: cover;
  background-position: center;
  position: static;
  z-index: 10;
}
.nav-tabs>li>a {
  color: red;
}
.nav-tabs>li.active>a {
  color: white;
  background-color: forestgreen;
}
.container {
  height: 75px;
  background-color: white;
  border: solid #006622 2px;
  width: 75%;
}
.container-fluid-footer {
  background-image: url(..img/ball-blur-bright.jpg);
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
}
.footer {
  height: 100px;
  margin-top: 20px;
  margin-left: 100px;
}
.well-footer {
  width: 33%;
  background-color: white;
  color: #006622; /*shade of green*/
  margin-top: 35px;
}
.fab {
  color: red;
}
.hidden-xs {
  color: red;
}
.copyright {
  font-family: 'La Belle Aurore', cursive;
  color: red;
}
