.container-fluid-treats {
  background-image: url(../img/gumdrops.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.footer {
  height: 100px;
  align-items: center;
}
.well-footer {
  width: 33%;
  background-color: white;
  color: red;
  margin-top: 35px;
}
.fab {
  color:red;
}
.hidden-xs {
  color: red;
}
.copyright {
  font-family: 'La Belle Aurore', cursive;
  color: red;
  padding: 5px;
  height: 30px;
}
